# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Distribution / packaging
.Python
.idea
venv/
.pytest_cache/
allure-reports
allure-report
allure-results


# osx artifacts
.DS_Store

.env
src/configs/envs/*
!src/configs/envs/example.json
testrail_config.cfg

geckodriver.log
